02Dataset_sin_procesar.csv
actividad_proyecto_act1.zip
Briefing.pdf
caracteristicasOdio copy.ipynb
comparacion_caracteristicas.png
actividad_proyecto_act1/actividad_proyecto_act1/caracteristicasOdio.ipynb
actividad_proyecto_act1/actividad_proyecto_act1/muinar02_actividad transversal.docx
clasesgrabadas/

tema1.pdf
tema2.pdf
Tema3.pdf
Tema4.pdf
Tema5.pdf
Tema6.pdf
Tema 2. El texto como dato.txt
Tema 1. Introducción al procesamiento del lenguaje natural.txt
actividad 1/actividad_proyecto_act1/actividad_proyecto_act1/caracteristicasOdio.ipynb
actividad 1/actividad_proyecto_act1/actividad_proyecto_act1/muinar02_actividad transversal.docx
Clase3/02-EjemploSpacy.ipynb
Clase3/02-Spacy.ipynb
